.box {
  width: 30%;
  height: 70vh;
  background-image: url(../../images/profileCard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}

.header {
  float: right;
}

.context {

  margin-top: 6rem;
}
