.icon {
  width: 10%;
  margin: 1.5rem auto;
}

.text {
  max-width: 25rem;
  text-align: center;
  margin: auto;
  font-weight: bold;
}
.textItem {
  border: 2px solid black;
  border-radius: 10px;
}

.loading {
  width: 10%;
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
}
.background {
  background-image: url(../../images/profile-background.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table {
  max-width: 40rem;
  width: 90%;
  margin: 15rem auto;
}


.data {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

}

.data h3 {
  margin: 0 0 0.25rem 0;
}

.date {
  width: auto;
  margin: 1rem auto;
}
