body {
  overflow: hidden;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 5rem;

}
.text h1 {
  font-size: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 2px 1px 2px black;
  animation: text-appear 1s ease-out forwards;
}
.text h3 {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 2px 1px 2px black;
  animation: text-appear2 1s ease-out forwards;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-appear2 {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background {
  background-image: url(../../images/main-image2.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 2px 1px 2px black;
  animation: text-appear 5s ease-out forwards;
  margin-top: 3rem;
}

.login button {
  width: 10rem;
  height: 4rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 2px 1px 2px black;
  cursor: pointer;
}
.login button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 800px) {
  .background {
    background-image: url(../../images/main-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text h3 {
    display: none;
  }
  .text h1{
    font-size: 30px;

  }
}
